<!--<div *fwScreenBelowLarge class="title-bar-small">
	<span class="glyphicon glyphicon-menu-hamburger" (click)="menuService.toggleLeftSideMenu()">
    </span>
	<div class="small-image-holder">
		<img class="small-image" src="assets/logo.png">
	</div>
	<span class="glyphicon glyphicon-option-vertical"></span>
</div>

<div *fwScreenLarge class="title-bar user-title-bar">

	<span class="glyphicon glyphicon-menu-hamburger" (click)="menuService.toggleLeftSideMenu()">
    </span>

	<div>
		<img src="assets/logo.png" alt="Green Nations Logo">
	</div>
	<div class="menu-area">
		<fw-top-bar>
		</fw-top-bar>
	</div>
</div>-->

<!--<div *fwScreenBelowLarge class="title-bar-small">
	<span class="glyphicon glyphicon-menu-hamburger" (click)="menuService.toggleLeftSideMenu()">
    </span>
	<div class="small-image-holder">
	</div>
	<span class="glyphicon glyphicon-option-vertical"></span>
</div>

<div *fwScreenLarge class="title-bar-small">
	<span class="glyphicon glyphicon-menu-hamburger" (click)="menuService.toggleLeftSideMenu()">
    </span>
	<div class="small-image-holder">
		<img class="small-image" src="assets/logo.png">
	</div>
</div>-->

<!--<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<span class="glyphicon glyphicon-menu-hamburger" (click)="menuService.toggleLeftSideMenu()">
    </span>
	<div class="small-image-holder2">
		<img class="small-image" src="assets/logo.png">
	</div>
</nav>-->

<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">CT-Admin</a>
        </div>
        <div class="collapse navbar-collapse" lm-collapse="vm.isCollapsed">            
            <ul class="nav navbar-nav">
                <li uib-dropdown ng-class="{active: vm.isActive('/admin/users') || vm.isActive('/admin/dishes') || vm.isActive('/admin/menus')}">
                    <a href uib-dropdown-toggle>Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-if-start="vm.isAdmin()"><a href="/admin/users">Utilizatori</a></li>
                        <li><a href="/admin/customerEmployees">Angajati client</a></li>
                        <li><a href="/admin/badges">Carduri</a></li>
                        <li><a href="/admin/dishes">Feluri de mancare</a></li>
                        <li><a href="/admin/menus">Meniuri</a></li>
                        <li><a href="/admin/preferences">Preferinte</a></li>
                        <li><a href="/admin/orders">Comenzi</a></li>
                        <li><a href="/admin/deliveries">Livrari</a></li>                        
                        <li><a href="/admin/deliveryLogs">Notificari</a></li>
                        <li ng-if-end><a href="/admin/reviews">Feedback clienti</a></li>
                        <li><a href="/admin/partnerOrders">Raport comenzi</a></li>
                        
                    </ul>
                </li>
                
            </ul>            
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/" target="_self">Public</a></li>
                <li ng-hide="vm.isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/admin/login">Autentificare</a></li>
                
                <li ng-show="vm.isLoggedIn()" uib-dropdown>
                    <a href uib-dropdown-toggle>User Test<b class="caret"></b></a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a href="/changePassword" target="_self">Schimba parola</a></li>
                        <li><a href="/logout" target="_self">Log out</a></li>
                    </ul>
                </li>                                        
                
            </ul>           
        </div>
    </div>
</nav>-->

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<span class="glyphicon glyphicon-menu-hamburger" (click)="menuService.toggleLeftSideMenu()">
    </span>

</nav>