:host {
    display: block;
    margin-left: 0;
    margin-top: 6px;
    margin-bottom: 6px;
    color: white;
}

:host(.in-submenu) {
    padding-left: 16px;
}

span {
    pointer-events: none;
}

.glyphicon {
    top: 1px;
    font-size: 14px;
    margin-right: 4px;
    margin-left: 8px;
}

.glyphicon-menu-left, .glyphicon-menu-right, .glyphicon-menu-down {
    float: right;
}

.menu-item {
    padding: 6px 6px 6px 0;
}

.menu-item:hover {
    background-color: #878c87;
}

.router-link-active {
    background-color: #878c87;
}
